
@{
    ViewBag.Title = "Aplikacja do zarządzania wydatkami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Aplikacja do zarządzania wydatkami</h3>
<br/>
<div>
    <p>System został stworzony w celu ułatwienia zarządzania finansami. Pozwala on na dodawanie wydatków jak również przychodów. <br />
    Do celów kategoryzwania zdarzeń zostało dodane kilka kategorii oraz podkategori. <br />
    </p>
    <br/>
    <p><b>System jest w trakcie rozwijania.</b></p>
</div>

