@using SpendingManagement.Domain.Entities
@model IEnumerable<Expense>

@{
    ViewBag.Title = "Wydatki";
}
<p>TEST</p>
@foreach(var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Description
        <h4>@p.Charge.ToString("c")</h4>
    </div>
}

