@model SpendingManagement.WebUI.Models.Statistics

@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row p-lg-5">
    <p>@Model.PieChart</p>
    <p>@Model.LineChart</p>
</div>


