<div class="calculator">
    <h4 class="text-center">Kalkulator</h4>
    <div class="calculator-window">
        <textarea rows="1" disabled="disabled" id="displayRowOne"></textarea>
        <textarea rows="1" disabled="disabled" id="displayRowTwo"></textarea>
        <textarea rows="1" disabled="disabled" id="displayRowThree">0</textarea>
    </div>
    <div class="calculator-buttons" id="buttons">
        <p>
            <input type="button" value="CE" />
            <input type="button" value="C" />
            <input type="button" value="<" />
            <input type="button" value="/" />
        </p>
        <p>
            <input type="button" value="7" />
            <input type="button" value="8" />
            <input type="button" value="9" />
            <input type="button" value="*" />
        </p>
        <p>
            <input type="button" value="4" />
            <input type="button" value="5" />
            <input type="button" value="6" />
            <input type="button" value="-" />
        </p>
        <p>
            <input type="button" value="1" />
            <input type="button" value="2" />
            <input type="button" value="3" />
            <input type="button" value="+" />
        </p>
        <p>
            <input type="button" value="+/-" />
            <input type="button" value="0" />
            <input type="button" value="." />
            <input type="button" value="=" />
        </p>
    </div>
</div>
