<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap-solar.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <h3 class="navbar-brand">Zarządzanie wydatkami</h3>
        <img src="~/Images/money_time.png" class="mr-4 " alt="time or money" height="40" width="40" />
        <ul class="nav nav-tabs">
            <li id="categories" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Okno główne</a>
            </li>
            <li>
                @Html.ActionLink("Wprowadź dane", "Create", "Admin", null, new { @class = "nav-link" })
            </li>
            <li>
                @Html.ActionLink("Zarządzaj danymi","Index","Admin",null,new { @class = "nav-link"})
            </li>
        </ul>
    </div>
    <div class="col-xs-8">
        @RenderBody()
    </div>
</body>
</html>