<div class="bg-primary p-md-1">
    <h4 class="bg-dark text-light text-center">Kalkulator</h4>
    <div class=" bg-dark">

        <div class="card" style="padding:0px">
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowOne"></textarea>
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowTwo"></textarea>
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowThree">0</textarea>
        </div>
        <div class="ml-lg-2 p-lg-3">
            <p>
                <input type="button" id="btn1" class="blocks" value="CE" onclick="clearTextBox()" />
                <input type="button" id="btn2" class="blocks" value="C"  onclick="clearAll()" />
                <input type="button" id="btn3" value="<" onclick="deleteLastMark()" />
                <input type="button" id="btn4" value="/" onclick="changeOperator('/')" />
            </p>
            <p>
                <input type="button" id="btn5" value="7" onclick="insertSign(7)" />
                <input type="button" id="btn6" value="8" onclick="insertSign(8)" />
                <input type="button" id="btn7" value="9" onclick="insertSign(9)" />
                <input type="button" id="btn8" value="*" onclick="changeOperator('*')" />
            </p>
            <p>
                <input type="button" class="blocks" value="4" onclick="insertSign(4)" />
                <input type="button" class="blocks" value="5" onclick="insertSign(5)" />
                <input type="button" class="blocks" value="6" onclick="insertSign(6)" />
                <input type="button" class="blocks" value="-" onclick="changeOperator('-')" />
            </p>
            <p>
                <input type="button" class="blocks" value="1" onclick="insertSign(1)" />
                <input type="button" class="blocks" value="2" onclick="insertSign(2)" />
                <input type="button" class="blocks" value="3" onclick="insertSign(3)" />
                <input type="button" class="blocks" value="+" onclick="changeOperator('+')" />
            </p>
            <p>
                <input type="button" class="blocks" value="+/-" onclick="changeNumberSign()" />
                <input type="button" class="blocks" value="0" onclick="insertSign(0)" />
                <input type="button" class="blocks" value="." onclick="insertSign('.')" />
                <input type="button" class="blocks" value="=" onclick="calculateResult()" />
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/calculator.js"></script>