<div class="bg-primary p-md-1">
    <h4 class="bg-dark text-light text-center">Kalkulator</h4>
    <div class=" bg-dark">

        <div class="card" style="padding:0px">
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowOne"></textarea>
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowTwo"></textarea>
            <textarea rows="1" class="text-right" style="resize:none; border:none" disabled="disabled" id="displayRowThree">0</textarea>
        </div>
        <div class="ml-lg-2 p-lg-3" id="buttons">
            <p>
                <input type="button" class="blocks" value="CE" />
                <input type="button" class="blocks" value="C"  />
                <input type="button" class="blocks" value="<"/>
                <input type="button" class="blocks" value="/" />
            </p>
            <p>
                <input type="button" class="blocks" value="7"/>
                <input type="button" class="blocks" value="8"/>
                <input type="button" class="blocks" value="9"/>
                <input type="button" class="blocks" value="*"/>
            </p>
            <p>
                <input type="button" class="blocks" value="4"/>
                <input type="button" class="blocks" value="5"/>
                <input type="button" class="blocks" value="6"/>
                <input type="button" class="blocks" value="-"/>
            </p>
            <p>
                <input type="button" class="blocks" value="1"/>
                <input type="button" class="blocks" value="2"/>
                <input type="button" class="blocks" value="3"/>
                <input type="button" class="blocks" value="+"/>
            </p>
            <p>
                <input type="button" class="blocks" value="+/-"/>
                <input type="button" class="blocks" value="0"/>
                <input type="button" class="blocks" value="."/>
                <input type="button" class="blocks" value="="/>
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/calculator.js"></script>